.user-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
  width: 160px;
  height: 28px;
  padding: 2px;
  background-color: black;
}

.user-details:hover {
  background-color: #282828;
}

.user-details-user-image-container {
  width: 28px;
  height: 28px;
}

.user-details-user-image {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.user-details-display-name {
  font-size: 14px;
  font-weight: bold;
}
